.message{
    padding: 1em;
    background-color: rgba(32, 28, 28, 0.61);
    margin-bottom: 1em;
}
.cont{
    padding: 0.5em;
    margin: 0.5em;
    font-style: normal;
    color: green;
}
.input > label{
    display: inline-block;
    width: 15em;
    padding: 0.5em;
    font-weight: bold;
}
.input > input[type="text"]{
    padding: 0.5em;
    margin: 0.5em;
}
.widget{
    flex: 1;
    border: 3px solid black;
    margin: 1em;
    padding: 1em;
    border-radius: 0.5em;
    text-align: center;
}
h1{
    text-align: center;
    margin: 1em 0 0.5em 0;
	color: #fd1111;
	font-weight: normal;
	font-family: 'Ultra', sans-serif;   
	font-size: 36px;
	line-height: 42px;
	text-transform: uppercase;
	text-shadow: 0 2px white, 0 3px #777;
}
h3{
    background-color: #ddf508;
}
body{
    background-color: yellowgreen;
}
@media(min-width:768px){
    .widgets{
        display: flex;
    }
}